node_modules
yarn.lock
pnpm-lock.yaml
package-lock.json
.codesandbox
.log

samples/sum/*.s
samples/sum/*.so
samples/sum/*.exe
samples/sum/*.dll
samples/cat/*.exe
samples/struct/*.exe

samples/llvm/**/*.exe

samples/c-to-ll/**/main.ll

samples/libuv/**/*.exe

.vscode/c_cpp_properties.json
