node_modules
yarn.lock
pnpm-lock.yaml
package-lock.json
.codesandbox
sample-code-generation/sample.ll
sample-code-generation/sample.s
sample-code-generation/sample.so
sample-code-generation/test.exe